.feature {
    &__security {
        &-number {
            h2 {
                position: relative;
                font-size: 12px;
                line-height: 2em;
                letter-spacing: 2px;
                color: #ababab;
                text-transform: uppercase;
                display: flex;
                align-items: flex-end;
                .mark-text {
                    font-size: 180px;
                    line-height: 0.8;
                    font-weight: 900;
                    margin: 0 5px -5px -5px;
                    color: #d2a98e;
                    @media #{$large-mobile} {
                        font-size: 140px;
                    }
                }
            }
            h6 {
                font-size: 18px;
            }
            @media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
                margin-bottom: 20px;
            }
        }
        &-text {
            .text {
                font-size: 18px;
                margin-bottom: 20px;
            }
            .button {
                &__link {
                    color: #086ad8;
                    &:hover {
                        color: #d2a98e;
                    }
                }
            }
        }
    }
    &__images {
        &-box {
            transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
            .box__wrap {
                box-shadow: 0 0 40px 5px rgba(51, 51, 51, 0.1);
                background: #fff;
                border-radius: 5px;
                padding: 98px 35px 88px;
                overflow: hidden;
                position: relative;
                margin-top: 30px;
                &-image {
                    position: relative;
                    width: 162px;
                    height: 162px;
                    border-radius: 50%;
                    margin: 0 auto 2px;
                    text-align: center;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-image: linear-gradient(160deg, #fbf7f4 0%, #fefdfd 100%);
                        border-radius: 50%;
                        transform: translateY(-46px);
                    }
                    .default-image {
                        position: relative;
                        z-index: 2;
                        text-align: center;
                    }
                }
                &-content {
                    text-align: center;
                    h5 {
                        font-size: 24px;
                        @media #{$large-mobile} {
                            font-size: 20px;
                        }
                    }
                    .heading {
                        font-weight: 500;
                        line-height: 1.25;
                        margin-bottom: 12px;
                    }
                    .button {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 1;
                        height: 56px;
                        line-height: 55px;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 500;
                        border-top: 1px solid #eee;
                        color: #086ad8;
                        &::before {
                            background-color: #086ad8;
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            transform: translateY(100%);
                            transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
                            z-index: -1;
                        }
                    }
                }
            }
            &:hover {
                transform: translateY(-5px);
                .box__wrap {
                    &-content {
                        .button {
                            color: #ffffff;
                            &::before {
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }
        }
    }
}
