.resources {
    padding: 40px 0;
    background-color: #f8f8f8;
    background-image: url("../../images/about/resources/bg.png");
    background-repeat: no-repeat;
    background-position: center right 40px;
    &__left {
        max-width: 600px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        float: right;
        @media #{$desktop-device} {
            margin: 0 auto;
            float: none;
        }
        @media #{$tablet-device} {
            text-align: center;
            margin: 0 auto;
            float: none;
        }
        @media #{$large-mobile} {
            margin: 0 auto;
            margin-bottom: 0px;
            float: none;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 30px;
            text-align: center;
        }
    }
}
