.about
    .container
        .row
            .col-lg-8.ml-auto.mr-auto
                .about__content.text-center
                    h1.mb-15.text-white About Mitech
                    h5.text-white
                        | Mitech specializes in technological and IT-related services such as product engineering, warranty management, building cloud, infrastructure, network, etc. 