.about-contact.section-space--pt_100
    .container
        .row.align-items-center
            .col-lg-7
                .contact__image
                    img.img-fluid.wow.slideInLeft(src="images/about/contact/image.png" animation-duration= "1s" data-wow-delay="0.35s")
            .col-lg-4.ml-auto
                .contact__info.text-left
                    .contact__info-title.text-center
                        h3.heading.mb-10 4.9/5.0
                        .star-rating
                            span.fa.fa-star
                            span.fa.fa-star
                            span.fa.fa-star
                            span.fa.fa-star
                            span.fa.fa-star
                        .sub-text by 700+ customers for 3200+ clients
                    .contact__info-list
                        a.list__item(href="#")
                            .list__item-content
                                .icon
                                    span.wow.shake.fal.fa-phone(data-wow-iteration="infinite" data-wow-duration="3500ms")
                                .main-content
                                    h6.heading Call for advice now!
                                    .text 1900 68668
                        a.list__item(href="#")
                            .list__item-content
                                .icon
                                    span.wow.pulse.fal.fa-envelope(data-wow-iteration="infinite" data-wow-duration="500ms")
                                .main-content
                                    h6.heading Say hello
                                    .text hello@mitech.com

