.delivering.section-space--ptb_100
    .container
        .row
            .col-lg-12
                .delivering__title.text-center.section-space--mb_20
                    h3.heading
                        | We excel in delivering 
                        br
                        | optimal solutions.

        .row
            .col-lg-6
                .delivering__wrap
                    .list__item
                        .market
                            i.far.fa-check
                        .title-wrap
                            h5.title  Warranty Management IT 
                            .description Our service offerings enhance customer experience throughout secure & highly functional end-to-end warranty management. 
                    .list__item
                        .market
                            i.far.fa-check
                        .title-wrap
                            h5.title   Quality Control System 
                            .description It's more than a responsibility but a guarantee from us to gain customer trust with highly reliable quality control system. 
                    .list__item
                        .market
                            i.far.fa-check
                        .title-wrap
                            h5.title  Highly Professional Staffs 
                            .description Having obtained the official & formal training in IT technology and technical fields, our staffs know more than what they show. 
            .col-lg-6
                .delivering__wrap
                    .list__item
                        .market
                            i.far.fa-check
                        .title-wrap
                            h5.title  Product Engineering & Services 
                            .description Develop and propose product improvements through periodical and accurate testing, repairing & refining every version. 
                    .list__item
                        .market
                            i.far.fa-check
                        .title-wrap
                            h5.title  Infrastructure Integration Technology T 
                            .description At Mitech, we have a holistic and integrated approach towards core modernization to experience technological evolution. 
                    .list__item
                        .market
                            i.far.fa-check
                        .title-wrap
                            h5.title  Information Security Management 
                            .description Information security has been a rising issue lately due to a series of scandals from big companies, rest assured, we're here. 

