.feature.section-space--ptb_100
    .container
        .row
            .col-lg-12
                .section-title.text-center.section-space--mb_60
                    .section-title__sub
                        | Our company
                    .section-title__heading
                        | We run all kinds of IT services that 
                        br
                        |  vow your 
                        span.text-color-primary  success
        .feature__security.section-space--pb_70
            .row
                .col-lg-4.offset-lg-1
                    .feature__security-number
                        h2.heading.mr-5
                            span.mark-text 38
                            | Years&rsquo; Experience in IT
                        h6.heading.mt-30 More About Our Success Stories
                .col-lg-5.offset-lg-1
                    .feature__security-text
                        .text
                            | Mitech specializes in technological and IT-related services such as product engineering, warranty management, building cloud, infrastructure, network, etc. We put a strong focus on the needs of your business to figure out solutions that best fits your demand and nail it.
                        .button
                            a.button__link(href='#')
                                | Discover now
                                span.button__link-icon.ml-1
                                    i.far.fa-long-arrow-right
        .feature__images
            .row
                .col-lg-4.col-md-6.col-12
                    .feature__images-box
                        .box__wrap
                            .box__wrap-image
                                .default-image
                                    img.img-fluid(src="images/about/feature/01.png")
                            .box__wrap-content
                                h5.heading What we can do?
                                .text
                                    | We put a strong focus on the needs of your business to figure out solutions that best fits your demand and nail it.
                                a.button(href='#')
                                    | Discover now
                                    span.button__icon.ml-1
                                        i.far.fa-long-arrow-right
                .col-lg-4.col-md-6.col-12
                    .feature__images-box
                        .box__wrap
                            .box__wrap-image
                                .default-image
                                    img.img-fluid(src="images/about/feature/02.png")
                            .box__wrap-content
                                h5.heading Become our partners?
                                .text
                                    | Our preventive and progressive approach will help you take the lead while addressing possible threats in managing data.
                                a.button(href='#')
                                    | Discover now
                                    span.button__icon.ml-1
                                        i.far.fa-long-arrow-right
                .col-lg-4.col-md-6.col-12
                    .feature__images-box
                        .box__wrap
                            .box__wrap-image
                                .default-image
                                    img.img-fluid(src="images/about/feature/03.png")
                            .box__wrap-content
                                h5.heading Need a hand?
                                .text
                                    | Our support team is available 24/7 a day, 7 days a week and can get ready for solving any of your situational rising problems.
                                a.button(href='#')
                                    | Discover now
                                    span.button__icon.ml-1
                                        i.far.fa-long-arrow-right
        .project__bottom-note.text-center.mt-40
            +under-heading-a('Challenges are just opportunities in disguise.', 'Take the challenge! ')