.fun-fact.section-space--pb_30.section-space--pt_60
    .container
        .row
            .col-md-3.col-sm-6
                .fun-fact__wrap.text-center
                    .count.wow.funCounter(data-target="120") 0
                    .text Happy clients
            .col-md-3.col-sm-6
                .fun-fact__wrap.text-center
                    .count.wow.funCounter(data-target="32") 0
                    .text Finished projects
            .col-md-3.col-sm-6
                .fun-fact__wrap.text-center
                    .count.wow.funCounter(data-target="73") 0
                    .text Skilled Experts
            .col-md-3.col-sm-6
                .fun-fact__wrap.text-center
                    .count.wow.funCounter(data-target="318") 0
                    .text Media Posts