.resources
    .container-fluid
        .row.align-items-center
            .col-lg-6.order-2.order-lg-1
                .resources__left
                    .resources__left-inner
                        .section-title
                            .section-title__sub
                                | Resources
                            .section-title__heading
                                | Get a copy of brochure on 
                                span.text-color-primary   Brand New IT Tech.
                        .resources__button.mt-30
                            +button('Download now (3MB)')
            .col-lg-6.order-1.order-lg-2
                .resources__right.text-center
                    img.img-fluid(src="images/about/resources/image.png")