.about-testimonial.section-space--pt_100
    .container
        .row
            .col-lg-12                
                .section-title.text-center.section-space--mb_40
                    .section-title__sub
                        | Testimonials
                    .section-title__heading
                        | What do people praise about 
                        span.text-color-primary   Mitech?
                .testimonial__slide
                    .swiper-container.testimonial__container
                        .swiper-wrapper
                            .swiper-slide
                                .testimonial__slide-wrap
                                    .testimonial__info
                                        .testimonial__info-media
                                            img.img-fluid(src="images/about/testimonial/01.jpg")
                                        .testimonial__info-author
                                            .rating
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                            .author__info
                                                h6.name Abbie Ferguson
                                                span.designation Marketing
                                    .testimonial__text
                                        | I’ve been working with over 35 IT companies on more than 200 projects of our company, but @Mitech is one of the most impressive to me.
                            .swiper-slide
                                .testimonial__slide-wrap
                                    .testimonial__info
                                        .testimonial__info-media
                                            img.img-fluid(src="images/about/testimonial/02.jpg")
                                        .testimonial__info-author
                                            .rating
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                            .author__info
                                                h6.name Monica Blews
                                                span.designation Web designer
                                    .testimonial__text
                                        | I’ve been working with over 35 IT companies on more than 200 projects of our company, but @Mitech is one of the most impressive to me.
                            .swiper-slide
                                .testimonial__slide-wrap
                                    .testimonial__info
                                        .testimonial__info-media
                                            img.img-fluid(src="images/about/testimonial/03.jpg")
                                        .testimonial__info-author
                                            .rating
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                            .author__info
                                                h6.name Abbie Ferguson
                                                span.designation Web frontend
                                    .testimonial__text
                                        | I’ve been working with over 35 IT companies on more than 200 projects of our company, but @Mitech is one of the most impressive to me.
                        .swiper-pagination