#section9.section.blog.section-space--pt_100.section-space--pb_70
    .container
        .row
            .col-lg-4.col-md-12
                .blog__item
                    .section-title
                        .section-title__sub
                            | BLOGS & NEWS
                        .section-title__heading
                            | Interesting articles
                            span.text-color-primary  updated daily
                    ul.blog__item-list
                        li
                            a(href="#")
                                i.blog__icon-first.fas.fa-long-arrow-alt-right
                                i.blog__icon-second.fas.fa-long-arrow-alt-right
                                | Ideas for High Returns on Investment
                        li
                            a(href="#")
                                i.blog__icon-first.fas.fa-long-arrow-alt-right
                                i.blog__icon-second.fas.fa-long-arrow-alt-right
                                | How Technology Made Businesses More Efficient
                        li
                            a(href="#")
                                i.blog__icon-first.fas.fa-long-arrow-alt-right
                                i.blog__icon-second.fas.fa-long-arrow-alt-right
                                | Data Secure on Transitioning to a New Office
                        li
                            a(href="#")
                                i.blog__icon-first.fas.fa-long-arrow-alt-right
                                i.blog__icon-second.fas.fa-long-arrow-alt-right
                                | The Keys to Persuading Customers Nowadays
                        li
                            a(href="#")
                                i.blog__icon-first.fas.fa-long-arrow-alt-right
                                i.blog__icon-second.fas.fa-long-arrow-alt-right
                                | Blockchain Technology Effects on Logistics Sector?
            .col-lg-4.col-md-6
                .blog__content
                    .blog__content-image
                        a(href="")
                            img(src="images/home/blog/home-blog-01.jpg" alt="")
                    .blog__content-post
                        .post__date
                            i.far.fa-calendar
                            | 
                            | February 28, 2019
                        h5.post__title
                            a(href="")
                                | 5 Ways Technology Has Improved Business Today
                        .post__describe
                            | They play a role in making operations more seamless, bridging the gap between authorities, consumers and businesses. …
                        .post__btn
                            a(href="")
                                | Read more
                                i.fas.fa-long-arrow-alt-right
            .col-lg-4.col-md-6
                .blog__content
                    .blog__content-image
                        a(href="")
                            img(src="images/home/blog/home-blog-02.jpg" alt="")
                    .blog__content-post
                        .post__date
                            i.far.fa-calendar
                            | 
                            | February 28, 2019
                        h5.post__title
                            a(href="")
                                | How Wireless Technology is Changing Business
                        .post__describe
                            | It is far wiser to do your own installations and ensure that all data flowing through the organization has end-to-end encryption. …
                        .post__btn
                            a(href="")
                                | Read more
                                i.fas.fa-long-arrow-alt-right


