#section2.section.brand-logo
    .container
        .row
            .col-lg-12
                .brand-logo__slider
                    .swiper-container.slider__container
                        .swiper-wrapper
                            .swiper-slide
                                a(href='#')
                                    .brand-logo__image
                                        img.img-fluid(src='images/home/brand-logo/01.png' alt='')
                                    .brand-logo__image-hover
                                        img.img-fluid(src='images/home/brand-logo/01-hover.png' alt='')
                            .swiper-slide
                                a(href='#')
                                    .brand-logo__image
                                        img.img-fluid(src='images/home/brand-logo/02.png' alt='')
                                    .brand-logo__image-hover
                                        img.img-fluid(src='images/home/brand-logo/02-hover.png' alt='')
                            .swiper-slide
                                a(href='#')
                                    .brand-logo__image
                                        img.img-fluid(src='images/home/brand-logo/03.png' alt='')
                                    .brand-logo__image-hover
                                        img.img-fluid(src='images/home/brand-logo/03-hover.png' alt='')
                            .swiper-slide
                                a(href='#')
                                    .brand-logo__image
                                        img.img-fluid(src='images/home/brand-logo/04.png' alt='')
                                    .brand-logo__image-hover
                                        img.img-fluid(src='images/home/brand-logo/04-hover.png' alt='')
                            .swiper-slide
                                a(href='#')
                                    .brand-logo__image
                                        img.img-fluid(src='images/home/brand-logo/05.png' alt='')
                                    .brand-logo__image-hover
                                        img.img-fluid(src='images/home/brand-logo/05-hover.png' alt='')
                            .swiper-slide
                                a(href='#')
                                    .brand-logo__image
                                        img.img-fluid(src='images/home/brand-logo/06.png' alt='')
                                    .brand-logo__image-hover
                                        img.img-fluid(src='images/home/brand-logo/06-hover.png' alt='')
                            .swiper-slide
                                a(href='#')
                                    .brand-logo__image
                                        img.img-fluid(src='images/home/brand-logo/07.png' alt='')
                                    .brand-logo__image-hover
                                        img.img-fluid(src='images/home/brand-logo/07-hover.png' alt='')
                            .swiper-slide
                                a(href='#')
                                    .brand-logo__image
                                        img.img-fluid(src='images/home/brand-logo/08.png' alt='')
                                    .brand-logo__image-hover
                                        img.img-fluid(src='images/home/brand-logo/08-hover.png' alt='')
                            .swiper-slide
                                a(href='#')
                                    .brand-logo__image
                                        img.img-fluid(src='images/home/brand-logo/09.png' alt='')
                                    .brand-logo__image-hover
                                        img.img-fluid(src='images/home/brand-logo/09-hover.png' alt ='')