#section10.section.contact
    .container
        .contact__content
            .row.align-items-center
                .col-lg-6
                    .contact__content-wrap
                        h3.heading
                            | Obtaining further information by 
                            span.text-color-primary make a contact
                            |  with our experienced IT staffs.
                        .sub-heading
                            | We’re available for 8 hours a day!
                            br
                            | Contact to require a detailed analysis and assessment of your plan.
                .col-lg-6
                    .contact__content-info.text-center
                        .icon
                            i.fal.fa-phone.wow.bounce(data-wow-iteration="infinite" data-wow-duration="2000ms")
                        h6.heading Reach out now!
                        h2.call-us
                            a(href='#') 1900 68668
                        .contact-us-button
                            +button('Contact us')