#section5.section.countUp
    .container
        .countUp__gird
            .countUp__gird-item
                .item__content.text-center
                    h5.item__content-title
                        | Successfully work 
                        br
                        |  with
                    .item__content-count.wow.counter(data-target="1056") 0
                    span.item__content-text Happy clients
            .countUp__gird-item
                .item__content.text-center
                    h5.item__content-title
                        | Successfully 
                        br
                        |  completed
                    .item__content-count.wow.counter(data-target="491") 0
                    span.item__content-text Finished projects
            .countUp__gird-item
                .item__content.text-center
                    h5.item__content-title
                        | Recruit more 
                        br
                        |  than
                    .item__content-count.wow.counter(data-target="245") 0
                    span.item__content-text Skilled Experts
            .countUp__gird-item
                .item__content.text-center
                    h5.item__content-title
                        | Blog 
                        br
                        |  update 
                    .item__content-count.wow.counter(data-target="1090") 0
                    span.item__content-text Media Posts



