#section4.section.out-company.section-space--ptb_100
    .out-company__top
        .container
            .row
                .col-lg-5
                    .out-company__top-left
                        .top-left__title
                            | OUR COMPANY
                        .top-left__heading
                            | We’ve been thriving in
                            | 
                            span.text-color-primary 38 years
                        .top-left__content
                            | Mitech specializes in technological and IT-related services such as product engineering, warranty management, building cloud, infrastructure, network, etc. We put a strong focus on the needs of your business to figure out solutions that best fits your demand and nail it.
                        .top-left__btn
                            +button('Join us now')
                .col-lg-5.ml-auto
                    .out-company__top-right
                        .top-right__item
                            a.top-right__link
                                .list__header
                                    .marker
                                        | 01
                                    .title-wrap
                                        .title
                                            | How we can help your business?
                                            i.fas.fa-arrow-right.first-icon
                                            i.fas.fa-arrow-right.second-icon
                        .top-right__item
                            a.top-right__link
                                .list__header
                                    .marker
                                        | 02
                                    .title-wrap
                                        .title
                                            | Why become our partner? 
                                            i.fas.fa-arrow-right.first-icon
                                            i.fas.fa-arrow-right.second-icon
                        .top-right__item
                            a.top-right__link
                                .list__header
                                    .marker
                                        | 03
                                    .title-wrap
                                        .title
                                            |  What are the best of Mitech? 
                                            i.fas.fa-arrow-right.first-icon
                                            i.fas.fa-arrow-right.second-icon
    .out-company__bottom
        .container
            .out-company__bottom-heading.text-center
                 .section-title
                    .section-title__sub
                        | HIRE US, WHY NOT?
                    .section-title__heading
                        | How we claim to 
                        span.text-color-primary excel?
            .row.row--35
                .col-lg-4.col-md-6.mx35.mt-5
                    a.out-company__bottom-link
                        .out-company__bottom-link__item
                            .item__media
                                .item__media-images
                                    img(src="images/home/out-company/home-out-company-01.jpg", alt="")
                                    .item__media-images__btn
                                        .images__btn
                                            | Learn more
                                    .item__media-images__heading
                                        p
                                            | Mitech Management Systems
                            .item__text
                                | Our technical experts have a flair for developing
                                <strong> clean-coded websites </strong>
                                | based on customers’ needs, global guidelines and trends.  
                .col-lg-4.col-md-6.mx35.mt-5
                    a.out-company__bottom-link
                        .out-company__bottom-link__item
                            .item__media
                                .item__media-images
                                    img(src="images/home/out-company/home-out-company-02.jpg", alt="")
                                    .item__media-images__btn
                                        .images__btn
                                            | Learn more
                                    .item__media-images__heading
                                        p
                                            | Efficient Database Security
                            .item__text
                                | Our technical experts have a flair for developing
                                <strong> clean-coded websites </strong>
                                | based on customers’ needs, global guidelines and trends.
                .col-lg-4.col-md-6.mx35.mt-5
                    a.out-company__bottom-link
                        .out-company__bottom-link__item
                            .item__media
                                .item__media-images
                                    img(src="images/home/out-company/home-out-company-03.jpg", alt="")
                                    .item__media-images__btn
                                        .images__btn
                                            | Learn more
                                    .item__media-images__heading
                                        p
                                            | Reliable Multi-function Technology
                            .item__text
                                | Our technical experts have a flair for developing
                                <strong> clean-coded websites </strong>
                                | based on customers’ needs, global guidelines and trends.
            .out-company__bottom-note.text-center               
                +under-heading-a('', 'Learn more about how we work span')

