#section7.section.project.section-space--ptb_100
    .container
        .project__heading.text-center.mb-40
            .section-title
                .section-title__sub
                    | Case studies
                .section-title__heading
                    | Proud projects that
                    span.text-color-primary  make us stand out
        .row
            .col-lg-12
                .swiper-container.project__container
                    .swiper-wrapper 
                        .swiper-slide.text-center
                            a(href='#')
                                .project__box
                                    .project__box-image
                                        img.img-fluid(src="images/home/project/01.jpg")
                                    .project__box-content
                                        h6.heading Arden-Internal Networking
                                        .post-categories Cyber Security
                                        .text
                                            | The prospects for a company operating in this new market are varied and exciting. The potential …
                                        .box-projects-arrow
                                            span.button-text View case study
                                            i.fa.fa-long-arrow-right.ml-1
                        .swiper-slide.text-center
                            a(href='#')
                                .project__box
                                    .project__box-image
                                        img.img-fluid(src="images/home/project/02.jpg")
                                    .project__box-content
                                        h6.heading Mitech-Smart Vision
                                        .post-categories Cyber Security
                                        .text
                                            | At Mitech, we have a holistic and integrated approach towards core modernization to experience technological evolution.
                                        .box-projects-arrow
                                            span.button-text View case study
                                            i.fa.fa-long-arrow-right.ml-1
                        .swiper-slide.text-center
                            a(href='#')
                                .project__box
                                    .project__box-image
                                        img.img-fluid(src="images/home/project/03.jpg")
                                    .project__box-content
                                        h6.heading A Freeserve case study
                                        .post-categories Cyber Security
                                        .text
                                            | The prospects for a company operating in this new market are varied and exciting. The potential …
                                        .box-projects-arrow
                                            span.button-text View case study
                                            i.fa.fa-long-arrow-right.ml-1
                        .swiper-slide.text-center
                            a(href='#')
                                .project__box
                                    .project__box-image
                                        img.img-fluid(src="images/home/project/04.jpg")
                                    .project__box-content
                                        h6.heading Aqua – Research and Energy
                                        .post-categories Cyber Security
                                        .text
                                            | The prospects for a company operating in this new market are varied and exciting. The potential …
                                        .box-projects-arrow
                                            span.button-text View case study
                                            i.fa.fa-long-arrow-right.ml-1                        
                        .swiper-slide.text-center
                            a(href='#')
                                .project__box
                                    .project__box-image
                                        img.img-fluid(src="images/home/project/05.jpg")
                                    .project__box-content
                                        h6.heading Arden-Internal Networking
                                        .post-categories Cyber Security
                                        .text
                                            | The prospects for a company operating in this new market are varied and exciting. The potential …
                                        .box-projects-arrow
                                            span.button-text View case study
                                            i.fa.fa-long-arrow-right.ml-1
                    .swiper-pagination
        .project__bottom-note.text-center.mt-40
            +under-heading-a('Challenges are just opportunities in disguise.', 'Take the challenge! ')


