#section3.section.service.pt-10.pb-10
    .container
        .service__heading
            .section-title
                .section-title__sub
                    | OUR SERVICES
                .section-title__heading
                    | For your very specific industry,
                    br
                    | we have 
                    span.text-color-primary highly-tailored IT solutions.
        .row
            .col-lg-4.col-md-6
                .service__content
                    .service__content-box
                        .box__image
                            img(src="images/home/service/home-service-01.png" alt="")
                        .box__body
                            .box__body-heading
                                | IT Design
                            .box__body-describe
                                | We provide the most responsive and functional IT design for companies and businesses worldwide.

                            .box__body-circle-arrow
                                .middle-dot
                                .middle-dot.dot-2
                                a(href='#')
                                    i.fas.fa-long-arrow-alt-right
            .col-lg-4.col-md-6
                .service__content
                    .service__content-box
                        .box__image
                            img(src="images/home/service/home-service-02.png" alt="")
                        .box__body
                            .box__body-heading
                                | IT Management
                            .box__body-describe
                                | It’s possible to simultaneously manage and transform information from one server to another.
                            .box__body-circle-arrow
                                .middle-dot
                                .middle-dot.dot-2
                                a(href='#')
                                    i.fas.fa-long-arrow-alt-right
            .col-lg-4.col-md-6
                .service__content
                    .service__content-box
                        .box__image
                            img(src="images/home/service/home-service-03.png" alt="")
                        .box__body
                            .box__body-heading
                                | Data Security
                            .box__body-describe
                                | Back up your database, store in a safe and secure place while still maintaining its accessibility.

                            .box__body-circle-arrow
                                .middle-dot
                                .middle-dot.dot-2
                                a(href='#')
                                    i.fas.fa-long-arrow-alt-right
        .service__note
            +under-heading-a('Challenges are just opportunities in disguise.', 'Take the challenge! ')