#section1.section.slider
    .slider__infor
        .container-fluid
            .row.align-items-center
                .col-lg-6.col-md-6
                    .slider__infor-content
                        .infor-content__title.wow.slideInLeft(data-wow-duration="1s" data-wow-delay="0.15s") IT Design & Consulting
                        .infor-content__describe.wow.fadeInUp(data-duration= "1s" data-wow-delay="0.25s")
                            | Facilitate All
                            br
                            | Local IT-related Service Providers
                        .infor-content__note.wow.slideInLeft(data-duration= "1s" data-wow-delay="0.35s")
                            | Highly Tailored IT Design, Management & Support Services.
                        .infor-content__btn.wow.fadeInUp(data-duration= "1s" data-wow-delay="0.35s")
                            +button('Get details')
                .col-lg-6.col-md-6
                    .slider__infor-images
                        .infor-images__one
                            img(src="images/home/slider/home-slider-image-2.png" alt="")
                        .infor-images__two
                            img(src="images/home/slider/home-slider-image-1.png" alt="")

