#section8.section.testimonial.section-space--ptb_100
    .container-fluid.container-fluid--cp-8
        .testimonial__heading.text-center.mb-40
            .section-title
                .section-title__sub
                    | Testimonials
                .section-title__heading
                    | Why do people praise about
                    span.text-color-primary  Mitech?
        .row
            .col-lg-12
                .swiper-container.testimonial__container
                    .swiper-wrapper 
                        .swiper-slide
                            .testimonial__slider
                                h6.testimonial__slider-subject The Mitech team works really hard to ensure high level of quality
                                .testimonial__slider-text
                                    | IT service is not an easy path to follow. But these guys can make it to the top with premium services and dedicated customer support.
                                .testimonial__slider-author__info
                                    .author__info-media
                                        img.img-fluid(src='images/home/testimonial/01.jpg' alt='')
                                    .author__info-author
                                        h6.name Stephen Mearsley
                                        span.designation PR Officer
                        .swiper-slide
                            .testimonial__slider
                                h6.testimonial__slider-subject The Mitech team works really hard to ensure high level of quality
                                .testimonial__slider-text
                                    | I discovered @Mitech services by chance on the Internet to find a suitable IT services provider. This must be fate, not an accident at all.
                                .testimonial__slider-author__info
                                    .author__info-media
                                        img.img-fluid(src='images/home/testimonial/02.jpg' alt='')
                                    .author__info-author
                                        h6.name Maggie Strickland
                                        span.designation Web Design
                        .swiper-slide
                            .testimonial__slider
                                h6.testimonial__slider-subject The Mitech team works really hard to ensure high level of quality
                                .testimonial__slider-text
                                    | There are thousands of IT service companies in the US. But there’s nothing like @Mitech. Their popularity and reputation are just evident. 
                                .testimonial__slider-author__info
                                    .author__info-media
                                        img.img-fluid(src='images/home/testimonial/03.jpg' alt='')
                                    .author__info-author
                                        h6.name Monica Blews
                                        span.designation PR Officer
                        .swiper-slide
                            .testimonial__slider
                                h6.testimonial__slider-subject The Mitech team works really hard to ensure high level of quality
                                .testimonial__slider-text
                                    | IT service is not an easy path to follow. But these guys can make it to the top with premium services and dedicated customer support.
                                .testimonial__slider-author__info
                                    .author__info-media
                                        img.img-fluid(src='images/home/testimonial/04.jpg' alt='')
                                    .author__info-author
                                        h6.name Stephen Mearsley
                                        span.designation PR Officer                     
                    .swiper-pagination


