#section6.section.video
    .container
        .row
            .col-lg-6.col-md-10.col-11.ml-auto
                .video__content
                    .video__content-heading
                        h2
                            | Share the joy of achieving glorious moments
                            br
                            | &amp; climbing up the top.
                    .video__content-action
                        a(href="https://www.youtube.com/watch?v=9No-FiEInLA" class="video-link" data-fancybox="video")
                            .video-content
                                .video-btn
                                    .video-mark
                                        .wave-pulse.wave-pulse-1
                                        .wave-pulse.wave-pulse-2
                                    .video-click
                                        .video-play
                                            span.video-play-icon
                                .video-text
                                    | Watch video
                                    br
                                    | intro


