extends master.pug
block content
    include ./components/about/about.pug
    include ./components/about/feature.pug
    include ./components/about/resources.pug
    include ./components/about/delivering.pug
    include ./components/about/fun-fact.pug
    include ./components/about/testimonial.pug
    include ./components/about/brand-logo.pug
    include ./components/about/contact.pug