extends master.pug
block content
    include ./components/home/slider.pug
    include ./components/home/brand-logo.pug
    include ./components/home/service.pug
    include ./components/home/out-company.pug
    include ./components/home/countUp.pug
    include ./components/home/video.pug
    include ./components/home/project.pug
    include ./components/home/testimonial.pug
    include ./components/home/blog.pug
    include ./components/home/contact.pug