.footer
    .footer__area
        .container
            .row.mb--35
                .col-lg-4.col-md-6.col-sm-6.mb-30
                    .footer__area-content
                        .content__logo.mb-30
                            img.img-fluid(src='images/home/footer/dark-logo.png' alt='')
                        ul.content__list
                            li 58 Howard Street #2 San Francisco, CA 941
                            li
                                a.item-link(href='#') contact@aeroland.com
                            li
                                a.item-link.text-black.font-weight--bold(href='#') (+68)1221 09876
                            li
                                a.item-link.text-color-primary(href='#') www.mitech.xperts.com
                .col-lg-2.col-md-4.col-sm-6.mb-30
                    .footer__area-content
                        h6.content__title.mb-20 IT Services  
                        ul.content__list
                            li
                                a.item-link(href='#') Managed IT
                            li
                                a.item-link(href='#') IT Support
                            li
                                a.item-link(href='#') IT Consultancy
                            li
                                a.item-link(href='#') Cloud Computing
                            li
                                a.item-link(href='#') Cyber Security
                .col-lg-2.col-md-4.col-sm-6.mb-30
                    .footer__area-content
                        h6.content__title.mb-20 Quick links 
                        ul.content__list
                            li
                                a.item-link(href='#') Pick up locations
                            li
                                a.item-link(href='#') Terms of Payment
                            li
                                a.item-link(href='#') Privacy Policy
                            li
                                a.item-link(href='#') Where to Find Us
                .col-lg-2.col-md-4.col-sm-6.mb-30
                    .footer__area-content
                        h6.content__title.mb-20 Support  
                        ul.content__list
                            li
                                a.item-link(href='#') Forum Support
                            li
                                a.item-link(href='#') Help & FAQ
                            li
                                a.item-link(href='#') Contact Us
                            li
                                a.item-link(href='#') Pricing and plans
                            li
                                a.item-link(href='#') Cookies Policy
                .col-lg-2.col-md-4.col-sm-6.mb-30
                    .footer__area-content
                        ul.content__list.mt-50.pr
                            li
                                a.image__btn(href='#')
                                    img.img-fluid(src='images/home/footer/google-play.jpg' alt='')

                            li
                                a.image__btn(href='#')
                                    img.img-fluid(src='images/home/footer/app-store.jpg' alt='')
    .footer__copyright
        .container
            .row.align-items-center
                .col-md-6.text-align--center.mb-15
                    span.footer__copyright-text
                        | © 2019 Mitech. 
                        a(href='#') All Rights Reserved.
                .col-md-6
                    ul.footer__copyright-list.justify-content--center
                        li.list__item
                            a.list__item-link(href='#' target='_blank' aria-label='Twitter')
                                i.fab.fa-twitter.link-icon
                        li.list__item
                            a.list__item-link(href='#' target='_blank' aria-label='Facebook')
                                i.fab.fa-facebook-f.link-icon
                        li.list__item
                            a.list__item-link(href='#' target='_blank' aria-label='Instagram')
                                i.fab.fa-instagram.link-icon
                        li.list__item
                            a.list__item-link(href='#' target='_blank' aria-label='Linkedin')
                                i.fab.fa-linkedin.link-icon

