.header
    .header__top.border-bottom
        .container-fluid
            .row
                .col-lg-12
                    p.header__top-text.text-center
                        a(href='#') Now Hiring:
                        |    Are you a driven and motivated 1st Line IT Support Engineer?
    .header__bottom.position-relative.header-sticky
        .container-fluid
            .row
                .col-lg-12
                    .header__bottom-main.position-relative
                        .header__logo
                            a(href='index.html')
                                img.img-fluid(src='images/home/header/logo-dark.png' alt='')
                        .header__middle
                            .header__middle-wrap.d-md-block.d-none
                                .wrap__inner
                                    .header__navigation.d-none.d-xl-block
                                        nav.navigation__menu
                                            ul.navigation__menu-list
                                                li.list__item.active
                                                    a.list__item-link(href='#')
                                                        span.text Home
                                                        i.fal.fa-angle-right
                                                    ul.sub-menu
                                                        li.sub-menu__item.active
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Infotechno
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Processing
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Appointment
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Services
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Resolutions
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Cyber security
                                                li.list__item
                                                    a.list__item-link(href='#')
                                                        span.text Company
                                                        i.fal.fa-angle-right
                                                    ul.sub-menu
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="about.html" target="_blank")
                                                                span.sub-menu__text About us
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Contact us
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Leadership
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Why choose us
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Our history
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text FAQs
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Careers
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Pricing Plans
                                                li.list__item
                                                    a.list__item-link(href='#')
                                                        span.text IT solutions
                                                        i.fal.fa-angle-right
                                                    ul.sub-menu
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text IT Services
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Managed IT Services
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Industries
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Business solution
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text IT Services Details
                                                li.list__item
                                                    a.list__item-link(href='#')
                                                        span.text Elements
                                                        i.fal.fa-angle-right
                                                li.list__item
                                                    a.list__item-link(href='#')
                                                        span.text Case Studies
                                                        i.fal.fa-angle-right
                                                    ul.sub-menu
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Case Studies 01
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Case Studies 02
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Case Studies Layout
                                                li.list__item
                                                    a.list__item-link(href='#')
                                                        span.text Blog
                                                        i.fal.fa-angle-right
                                                    ul.sub-menu
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text List Large Image
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Left Large Image
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Grid Classic
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Grid Masonry
                                                        li.sub-menu__item
                                                            a.sub-menu__item-link(href="#")
                                                                span.sub-menu__text Single Layouts
                        .header__right
                            .header__right-inner
                                .language-menu
                                    ul
                                        li
                                            a(href="#")
                                                img.flag(src='images/home/header/en.png' alt='en' title='English')
                                                span.name English
                                                i.fal.fa-angle-right
                                            ul.sub-menu__flag
                                                li.flag__item
                                                    a.flag__item-link(href="#")
                                                        img.flag(src='images/home/header/fr.png' alt='en' title='Français')
                                                        span.name Français
                                                li.flag__item
                                                    a.flag__item-link(href="#")
                                                        img.flag(src='images/home/header/de.png' alt='de' title='Deutsch')
                                                        span.name Deutsch
                                .search
                                    form.search-form-top(action='#')
                                        input.search-field(type='text' placeholder='Search…')
                                        button.search-submit
                                            i.fas.fa-search
                            //- mobile menu
                            #mobile-menu-trigger.header__mobile.d-block.d-xl-none
                                i
                            #hidden-icon-trigger.hidden-icons-menu.d-block.d-md-none
                                a(href='#')
                                    i.far.fa-ellipsis-h-alt