#mobile-menu-overlay.mobile-menu-overlay
    .mobile-menu-overlay__inner
        .inner__header
            .container-fluid
                .row.align-items-center
                    .col-md-6.col-8
                        .inner__header-logo
                            a(href="index.html")
                                img.img-fluid(src='images/home/header/logo-dark.png')
                    .col-md-6.col-4
                        .inner__header-close.text-right
                            span#mobile-menu-close-trigger.close__icon
        .inner__body
            nav.inner__body-navigation
                ul.list
                    li.list__item
                        a.list__item-link(href='#') Home
                        span.list__item-icon
                            i.far.fa-angle-down
                        ul.sub-menu
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Infotechno
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Processing
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Appointment
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Services
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Resolutions
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Cyber security
                    li.list__item
                        a.list__item-link(href='#') Company
                        span.list__item-icon
                            i.far.fa-angle-down
                        ul.sub-menu
                            li.sub-menu__item
                                a.item__link(href="about.html")
                                    span.name About us
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Contact us
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Leadership
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Why choose us
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Our history
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name FAQs
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Careers
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Pricing plans
                    li.list__item
                        a.list__item-link(href='#') IT solutions
                        span.list__item-icon
                            i.far.fa-angle-down
                        ul.sub-menu
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name IT Services
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Managed IT Services
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Industries
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Business solution
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name IT Services Details
                    li.list__item
                        span.list__item-icon
                            i.far.fa-angle-down
                        a.list__item-link(href='#') Elements
                    li.list__item
                        a.list__item-link(href='#') Case Studies
                        span.list__item-icon
                            i.far.fa-angle-down
                        ul.sub-menu
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Case Studies 01
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Case Studies 02
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Case Studies Layout
                    li.list__item
                        a.list__item-link(href='#') Blogs
                        span.list__item-icon
                            i.far.fa-angle-down
                        ul.sub-menu
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name List Large Image
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Left Large Image
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Grid Classic
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Grid Masonry
                            li.sub-menu__item
                                a.item__link(href="#")
                                    span.name Single Layouts