.startToolbar
    .startToolbar__aeroland
        .inner
            a.quick-option(href="#" aria-label="Quick Options")
                i.fal.fa-project-diagram
            a.support-center(href="#" aria-label="Support Center")
                i.fal.fa-life-ring
            a.purchase-mitech(href="#" aria-label="Purchase Mitech")
                i.fal.fa-shopping-cart